@page
@model TransactionModel

@{
    Layout = "_Layout";
}

    <style>
    

      /*   .form-group {
            margin-bottom: 15px;
        } */
        .input1, textarea {
        display: flex;
        align-items: center;
        margin-bottom: 20px;
        width: 100%;
        height: 30px;
        border-radius: 3px;
        }

    .inputComments, textarea {
        display: flex;
        align-items: center;
        margin-bottom: 10px;
        width: 100%;
        height: 50px;
        border-radius: 3px;
    }

    .labels, textarea {
        margin-bottom: 20px;
        border-radius: 3px;
    }

       /*  .comment-box {
            height: 100px;
        } */

        .form{
        background-color: #ACC8FF;
        width: 70%;
        margin: 30px auto;
        padding: 15px;
        border-radius: 8px;
        align-items: center;
        }

    .button {
        background-color: #fcfcfc;
        width: 12%;
        height: 5%;
        margin: 0px auto;
        border-radius: 5px;
    }
        /* Additional CSS to match your design */
    </style>

    <form method="post" class="form">
        <div class="form-group">
        <label for="recipient" class="labels">Кому:</label>
            <input type="text" id="recipient" name="Recipient" class="input1">
        </div>

        <div class="form-group">
            <label for="amount" class="labels">Сколько:</label>
        <input type="number" id="amount" name="Amount" class="input1">
        </div>

        <div class="form-group">
        <label for="comments" class="labels">Комментарий:</label>
            <textarea id="comments" name="Comments" class="inputComments"></textarea>
        </div>

        <button type="submit" class="button">Отправить</button>
    </form>

