@using Shop.Microservice.Domain.Entities;
@model List<OrderProduct>
@{
    Layout = "_Layout";
}


<style>
    .history_container{
        background-color: #ACC8FF;
        width: contain;
        height: contain;
        position:relative;
        padding: 10px;
        margin: 30px;
        border-radius:5px;
    }
    .order{
        
    }
    .summary_orders{
        font-size: 1.5em;
        position:relative;
        cursor:pointer;
        display:flex;
        justify-content:space-between;
        padding-left:50px;
        padding-right:50px;

    }
    .item{
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-wrap: wrap;
        font-size: 1.5em;
    }
</style>


<div class="history_container">
    @for (int i = 0; i < Model.Count; i++)
    {
        var orderProduct = Model[i];

        <div class="order">
            <details>
                <summary class="summary_orders">
                    <div>Заказ от @orderProduct.Order.CreateAt.ToString("g")</div> 
                    <div>Статус: @orderProduct.Order.OrderStatus</div>
                </summary>
                <div class="item">
                    <p><a href="ссылка на товар"><img src=@orderProduct.Product.Image alt="Image" style="width:180px; height:180px; left:60px; top:60px; "></a></p>
                    <div class="title_item">@orderProduct.Product.Title</div>
                    <div class="price">Цена: @orderProduct.Product.Price</div>
                </div>
            </details>
        </div>
    }

</div> 


